ENVIRONMENT="" # Use one of the following : development, production ,testing ,staging
PORT=""
SERVER_URL="" #http://localhost:port  or https://hostedapp.domain
API_URL="" #http://localhost:port/api/v1  or https://hostedapp.domain/api/v1

# Allowed Origins
CLIENT_ORIGIN=""
ADMIN_ORIGIN=""

# AUTH SECRETS & KEYS
##encrypion
ENCRYPTION_KEY=""

## jwt
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""

## Third Party Auth
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_ID_SECRET=""
GOOGLE_OAUTH_REDIRECT_URL=""

# MAIL SERVICE
EMAIL_SENDER=""
EMAIL_PASSWORD=""

#DB
DB_NAME=""
DATABASE_URL=""
PULSE_API_KEY=""

# MEDIA STORAGE
## cloudinary
CLOUDINARY_URL=""
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

## AWS


